/* CSS reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General Styles */
:root {
  --purple-color: #6777ef;
  --orange-color: #ffa426;
  --green-color: #83b642;
  --bright-green-color: #54ca68;
  --red-color: #e94a40;
  --dark-grey-color: #6c757d;
  --blue-color: #3abaf4;
  --white-color: #FFFFFF;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

body {
	font-family: 'Nunito', sans-serif;
	background-color: #f6f6f6;
}

button {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
}

h1, h2, h3, h4, h5 {
	font-weight: 700;
}

h3 {
	font-size: 1.25em;
}

p {
	font-weight: 400;
}

a {
	text-decoration: none;
}

/* Sidebar Styling */
.nav {
	height: 100%;
	position: fixed;
}

.sidebar {
	background-color: var(--white-color);
	display: flex;
	flex-direction: column; 
	float: left;
	width: 250px;
	padding: 16px;
	overflow: auto;
}

.sidebar-logo {
	display: flex;
	justify-content: center;
}

.sidebar-header {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--dark-grey-color);
	padding: 20px 0 5px 0;
}

.nav-item {
	height: 50px;
	display: flex;
}

.nav-item a {
	display: flex;
	align-items: center;
}

.nav-item span {
	color: var(--dark-grey-color);
	padding-left: 10px;
}

/* Header Styling */
header {
	background-color: var(--white-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.1);
}

.header-left {
	display: flex;
}

.header-left img, .header-right img {
	padding: 0 10px 0 10px;
}

.header-left input {
	background-color: rgba(103, 119, 239, 0.1);
	height: 40px;
	width: 200px;
	border-radius: 5px;
	border: none;
	padding-left: 10px;
}

.header-right {
	display: flex;
}

/* Stats Section styling */
.stats-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-top: 50px;
	margin-bottom: 30px;
}

.stats-card {
	background-color: var(--white-color);
	border-radius: 10px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 15px 20px;
	margin-bottom: 30px;
	box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.2);
}

.stats-info h5 {
	margin-bottom: 10px;
}

.stats-info h3 {
	margin-bottom: 24px;
}

.increase {
	color: var(--bright-green-color);
}

.decrease {
	color: var(--orange-color);
}
/* Revenue chart styling */

.revenue-chart {
	display: flex;
	flex-direction: column;
	background-color: var(--white-color);
	padding: 16px 25px 30px 25px;
}

.revenue-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.revenue-buttons button {
	border-radius: 100px;
	border: none;
	padding: 10px 25px;
	color: var(--white-color);
}

.option-btn {
	background-color: var(--orange-color);
}

.viewall-btn {
	background-color: var(--purple-color);
}

.revenue-content {
	display: flex;
	justify-content: space-around;
}

.revenue-img {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding-top: 15px;
}

.revenue-chart-img {
	width: 100%;
}

.revenue-stats-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.revenue-stats {
	text-align: center;
}

.revenue-stats h3 {
	margin-top: 10px;
}

.revenue-table {
	color: var(--dark-grey-color);
	display: flex;
	align-items: center;
	line-height: 25pt;
}

.revenue-table td, td{
	width: 150px;
}